:root {
    --accent-color: #3ca60e;
}

main {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 1rem 3rem;
    font-family: sans-serif;
}

a {
    color: var(--accent-color);
}

code {
    font-family: monospace;
}

h1,
h2,
p {
    max-width: 80ch;
    line-height: normal;
}

img {
    width: 100%;
    height: auto;
}

footer {
    margin: 2rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header {
    margin: 2rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer ul,
header ul {
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

table {
    border-collapse: collapse;
}